html
  head
    title=title

    style
      include ../../../style.css
      
  body
    include ../partials/header

    p
      strong #{movie.title} (#{movie.year})
      form(method='POST' action='')
        button(type='submit') Add to Watched List
      br
    p Runtime: #{movie.runtime}
    
    //- let #{scoreSum} = 0
    //- for score in movie.rating
    //-   Number(scoreSum) += #{score}

    p Average Rating: #{(movie.rating)}/10  
    p Plot: #{movie.plot}
    p Genre: #{movie.genre}
    
    p
      
      strong Similar Movies:
      if (movie.similar)
        for similar in movie.similar 
          br
          a(href='/api/movie/' + similar, style='margin-right:5px') #{similar}  
    p
      
      strong Directors:
      if (movie.director)
        for director in movie.director
          br
          a(href='/api/people/'+director, style='margin-right:5px') #{director}  
    p  
      strong Writers:
      if (movie.writer)
        for writer in movie.writer
          br
          a(href='/api/people/'+writer, style='margin-right:5px') #{writer}  
    p  
      strong Actors:
      if (movie.actors)
        for actor in movie.actors
          br
          a(href='/api/people/'+actor, style='margin-right:5px') #{actor}
    p
      strong Reviews: 
      if (movie.reviews)
      for review in movie.reviews
          br
          a(href='/api/reviews/'+review style='margin-right:5px') #{review}
    p
      strong Add a Review: 
      form(method='POST' action='/api/reviews/'+movie.id)
        p 
          | Review Score:
          select(name='rating')
            each rating in [1,2,3,4,5,6,7,8,9,10]
              option=rating 
              //to access in js, req.body.dropDown
          button(type='submit') Submit Basic Review
        p
          | Review Summary
          br
          input(type='text' name='summary' style='padding:5px')
        p
          | Full Review Text:
          br
          input(type='text' name='review' style='padding: 50px 5px')
          button(type='submit') Submit Full Review
        
