html
  head
    title=title

    style
      include ../../../style.css
      
  body
    include ../partials/header

    p
      strong #{movie.title} (#{movie.year})
      form(method='POST' action='')
        button(type='submit') Add to Watched List
      br
    p Runtime: #{movie.runtime}
    
    p Average Rating: #{movie.rating}/10
    p Plot: #{movie.plot}
    p Genre: #{movie.genre}
    
    p
      strong Similar Movies:
      for similar in movie.similar 
        br
        a(href='/movies/someMovie' style='margin-right:5px') #{similar}  
    p
      strong Directors:
      for director in movie.director
        br
        a(href='/people/somePerson' style='margin-right:5px') #{director}  
    p  
      strong Writers:
      for writer in movie.writer
        br
        a(href='/people/somePerson' style='margin-right:5px') #{writer}  
    p  
      strong Actors:
      for actor in movie.actors
        br
        a(href='/people/somePerson' style='margin-right:5px') #{actor}
    p
      strong Reviews: 
      for review in movie.reviews
        br
        a(href='/reviews/someReview' style='margin-right:5px') #{review}
    p
      strong Add a Review: 
      form(method='POST' action='/movies/someMovie')
        | Review Score:
        select(name='dropDown')
          for rating in score
             option=rating 
             //to access in js, req.body.dropDown
        button(type='submit') Submit Basic Review
        p
          | Review Summary
          br
          input(type='text' name='sumText' style='padding:5px')
        p
          | Full Review Text:
          br
          input(type='text' name='reviewText' style='padding: 50px 5px')
        button(type='submit') Submit Full Review
        
