html
  head
    title=title

    style
      include ../../../style.css
    
  body
    include ../partials/header

    p 
      strong Name: #{person.name} 
      form(method='get' action='')
        button(type='submit') Unfollow
        a(href='/profile' style='padding-left:10px') 
        br

    p 
      if (person.collaborators)
        strong Frequent Collaborators:
        br
        for collab in people.collaborators
          a(href='/api/people/'+ collab) #{collab}
          br

    p 
      strong Work History:
    
    if(person.wrote)
      p
        |Wrote:
        br
        for movie in person.wrote
          a(href='/api/movies/'+ movie) #{movie}
          br


    if(person.directed)
      p 
        |Directed:
        br
        for movie in person.directed
          a(href='/api/movies/'+ movie) #{movie}
          br

    
    if(person.acted)
      p 
        |Acted:
        br
        for movie in person.acted
          a(href='/api/movies/'+ 'The Ballad of Cable Hogue') #{movie}
          br
