html
  head
    title=title

    style
      include ../../../style.css
    
  body
    include ../partials/header
    
    p 
      strong Username: #{user.name} 
      if user.contributing == 1
        | (contributing user)
      else 
        | (regular user)
      br
      br
      
    //might have to change the initial values mased on whether user is contributing or not
    //form(method='POST' action='/')
    form(method='POST' action='/profile')
          p 
            input(type='radio', name='contributing', value='0', checked=contributing==false)
            |  Regular
            
          p
            input(type='radio', name='contributing', value='1', checked=contributing==true)
            |  Contributing 
          
            button(type='submit') Save
    
    //button(type='submit') Save

    p(style='padding-top:30px') 
      strong People You Follow:
    for person in user.peopleFollowing
      //unfollow button; change method
      form(method='get' action='')
        button(type='submit') Unfollow
        a(href='/api/people/'+ person, style='padding-left:10px') #{person}
        br
    if (user.usersFollowing)
      p(style='padding-top:30px')   
        strong Users You Follow:
      for u in user.usersFollowing
        //unfollow button; change method
        form(method='get' action='')
          button(type='submit') Unfollow
          a(href='/api/users/'+ u style='padding-left:10px') #{u}
          br

    p(style='padding-top:30px') 
      strong Movies You've Watched:
      if (user.watchedMovies)
        for watched in user.watchedMovies
          a(href='/api/movies/'+ watched) #{watched}
          br

    p(style='padding-top:30px') 
      strong Recommended Movies:
      if (user.recommendedMovies)
        for rec in user.recommendedMovies
          a(href='/api/movies/'+ rec) #{rec}
          br
        
    //GET LAST NOTIF ONLY INSTEAD?
    p(style='padding-top:30px')  
      strong Notifications:
    //while, iterates through notifs, displays delete + view buttons
    for notif in user.notifications
      button(type='delNotif' style='margin-right:5px; margin-bottom:5px') Delete 
      button(type='viewNotif') View
      a(style='padding-left:5px') #{notif}
      br
   
        
