html
  head
    title=title

    style
      include ../../../style.css
    
  body
    include ../partials/header
    
    p 
      strong Reviewer: #{reviewer}
    p
      strong Score: #{review.rating}/10
    
    p(style='padding-top:30px') 
      strong Summary Text:
    p #{review.summary}

    p(style='padding-top:30px') 
      strong Full Text:
    p #{review.review}