html
  head
    title=title

    style
      include ../../../style.css
    
  body
    include ../partials/header
    
    p 
      strong Reviewer: #{reviewer}
    p
      strong Score: #{score}/10
    
    p(style='padding-top:30px') 
      strong Summary Text:
    p #{sumText}

    p(style='padding-top:30px') 
      strong Full Text:
    p #{review}