html
  head
    title=title

    style
      include ../../../style.css
      
  body
    include ../partials/header

    ul
      li Title: #{name}
      li Genre: #{genre}
      li Actor: #{actor}
    strong Results:
    for movie in results
      br
      a(href='/movies/:'+ 'The Ballad of Cable Hogue') #{movie}
