html
  head
    title=title

    style
      include ../../../style.css
      
  body
    include ../partials/header

    //follow the user whose page you're on 
    p 
      strong Username: #{user.name} 
      if user.contributing == 1
        | (contributing user)
      else 
        | (regular user)

      form(method='get' action='')
        button(type='submit') Follow
      br
      br

    //follow ppl under People {someUser} follows
    p
      if (user.peopleFollowing)
        for person in user.peopleFollowing
          //unfollow button; change method
          form(method='get' action='')
            button(type='submit') Follow
            a(href='/api/people/'+ person, style='padding-left:10px') #{person}
            br
    
    p 
      strong Movies #{user.name} Has Watched: 
      if (user.watchedMovies)
        for wM in user.watchedMovies
          br
          a(href='/api/movies/'+ wM) #{wM}
        
    p 
      strong Reviews Written by #{user.name}: 
      if (user.reviews)
        for rev in user.reviews
          br
          a(href='/api/reviews/'+ rev) #{rev}
